In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

# Mars-Earth Table

In [2]:
url = 'https://galaxyfacts-mars.com/'

In [3]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
df = tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [5]:
df1 = tables[1]
df1

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
new_header = df.iloc[0] 
df = df[1:]
df.columns = new_header
df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [7]:
df.to_html('marsTable.html')

# Mars News Site

In [8]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\jwwst\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [9]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [10]:
html = browser.html
soup = bs(html, 'html.parser')

title = soup.find_all(class_='content_title')[0].text
body = soup.find_all(class_='article_teaser_body')[0].text

In [11]:
title

"5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover"

In [12]:
body

"The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative."

# JPL Mars Images

In [13]:
image_url = 'https://spaceimages-mars.com/'
browser.visit(image_url)

In [14]:
html = browser.html
soup = bs(html, 'html.parser')

In [15]:
image_href = soup.find("a", class_ = "showimg fancybox-thumbs")["href"]

image_url = (f'https://spaceimages-mars.com/{image_href}')

# Mars Hemispheres

In [16]:
hemispheres_url = "https://marshemispheres.com/"
browser.visit(hemispheres_url)

In [17]:
hemisphere_images = []

In [18]:
html = browser.html
soup = bs(html, 'html.parser')

In [19]:
image_links = soup.find_all("a", class_ = "itemLink product-item")

for link in image_links:
    if link['href'] != '#':
        image_url = (f"https://marshemispheres.com/{link['href']}")
        image_title = link.text
        image_title = image_title.strip('\n')
        image_dict = {'Url': image_url, 'Title': image_title}
        if image_dict['Title'] != '':
            hemisphere_images.append(image_dict)
print(hemisphere_images)

[{'Url': 'https://marshemispheres.com/cerberus.html', 'Title': 'Cerberus Hemisphere Enhanced'}, {'Url': 'https://marshemispheres.com/schiaparelli.html', 'Title': 'Schiaparelli Hemisphere Enhanced'}, {'Url': 'https://marshemispheres.com/syrtis.html', 'Title': 'Syrtis Major Hemisphere Enhanced'}, {'Url': 'https://marshemispheres.com/valles.html', 'Title': 'Valles Marineris Hemisphere Enhanced'}]